<section aria-labelledby="goal-heading" class="bg-[linear-gradient(90deg,#B92B09,#FF5722)] font-bricolage text-white border border-[#898A8B]/20 rounded-2xl pt-12 pb-12 ps-6 pe-6">
    <div class="w-16 h-16 flex items-center justify-center bg-white/20 rounded-full mb-[40px]" aria-hidden="true">
        <img src="./assets/images/icon-checkmark.svg" alt="">
    </div>

    <div class="">
        <p id="form-heading" class="font-semibold text-[64px] leading-none mb-[24px]">100%</p>
        <h2 class="font-semibold text-[32px] mb-[10px]">Goal Complete</h2>
        <p>You saved $350.00 across 5 deposits. Finished before your 15 Mar 2026 deadline.</p>
    </div>

    <div class="mt-10 flex">
        <div class="pe-[55px] border-r border-r-white/30">
            <p class="mb-[10px] font-inter font-bold text-[32px]">5</p><!--I want this to have the font called inter-->
            <p>DEPOSITS</p>
        </div>

        <div class="ps-[32px]"><!--I want this to have the font called inter-->
            <p class="mb-[10px] font-inter font-bold text-[32px]">$350.00</p>

            <p>TOTAL SAVED</p>
        </div>
    </div>
</section>