<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details</title>
    </head>

    <body class="bg-[#101010]">
        <%- include("partials/navbar.ejs") %>
        
        <main class="max-w-[1440px] mx-auto px-4 lg:px-20 mt-8 lg:mt-12">
            
            <header>
                <div class="flex justify-between items-center">
                    <a class="flex items-center text-[#898A8B] hover:text-white transition-colors no-underline font-medium" href="/">
                        <img src="/assets/images/icon-chevron-left.svg" alt="" aria-hidden="true" class="w-4 h-4">
                        <span class="ms-2">Back</span>
                    </a>
                    
                    <div class="flex gap-x-4">
                        <a href="/edit-goal" class="text-[#B7B7B7] hover:text-white font-medium transition-colors no-underline">Edit goal</a>
                        
                        <button type="button" class="text-[#EF4444] hover:text-red-300 font-medium transition-colors bg-transparent border-none p-0 cursor-pointer">Delete goal</button>
                    </div>
                </div>

                <div class="mt-4 lg:mt-6">
                    <h1 class="font-bricolage text-[36px] lg:text-[44px] font-semibold my-0 text-white">MacBook Pro M4</h1>
                    <p class="text-[#B7B7B7] font-medium text-[14px] mt-2">
                        Due <time datetime="2026-06-01">1 Jun 2026</time> <span aria-hidden="true">•</span> Created <time datetime="2025-11-15">Nov 15, 2025</time>
                    </p>
                </div>
            </header>

            <div class="mt-8 lg:mt-10 grid grid-cols-1 lg:grid-cols-3 gap-y-8 lg:gap-x-12 items-start mb-12">
                
                <div class="lg:col-span-2 flex flex-col gap-6"><!--goalsProgress and formHeading. Also detailsComplete-->
                    <%- include("partials/detailsComplete.ejs") %>
                </div>


                <%- include("partials/historyHeading.ejs") %><!--History Heading-->
            </div>
        </main>
    </body>
</html>