<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email Sent</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
    </head>

    <body class="pt-[98px] pb-[98px] px-[16px] md:p-[64px] min-[1025px]:p-[40px] bg-black">
        <main class="min-[1025px]:flex min-[1025px]:flex-row min-[1025px]:gap-x-[40px] min-[1400px]:gap-x-[80px] min-[1025px]:items-stretch min-[1025px]:min-h-[calc(100vh-80px)] min-[1025px]:max-w-[1320px] min-[1025px]:mx-auto min-[1025px]:w-full">
            <section class="quote-section hidden min-[1025px]:flex min-[1025px]:flex-col min-[1025px]:justify-center bg-linear-to-r from-[#B92B09] to-[#FF5722] relative overflow-hidden min-[1025px]:flex-1 rounded-[16px] min-[1025px]:pt-[40px] min-[1025px]:px-[40px] min-[1025px]:pb-0">
                <blockquote>
                    <p class="font-bricolage font-semibold text-[64px] leading-[100%] tracking-[-2px] text-white">
                        "A budget is<br>telling your<br>money where to<br>go instead of<br>wondering where<br>it went."
                    </p>
                </blockquote>
                <cite class="absolute bottom-[20px] left-[40px] not-italic font-semibold text-[20px] leading-[120%] tracking-[-0.3px] text-white" style="font-family: Inter, sans-serif;">— Dave Ramsey</cite>
                <img class="absolute bottom-[-170px] right-[-80px] w-[400px] h-[400px] z-10" src="assets/images/pattern-star.svg" alt="">
            </section>
            <section class="sign-up-container min-[1025px]:w-[640px] min-[1025px]:shrink-0 min-[1025px]:flex min-[1025px]:flex-col min-[1025px]:justify-center">
                <header>
                    <div class="logo-container flex w-fit items-center gap-x-3">
                        <div class="img-container">
                            <img src="assets/images/logo-small.svg" alt="Savings Tracker logo">
                        </div>

                        <h1 class="savings-tracker-heading font-bricolage font-semibold text-2xl">
                            Savings Tracker
                        </h1>
                    </div>  
                    <h2 class="font-inter font-bold text-[32px] mt-[32px]">Check your inbox</h2>
                    <p class="text-[#B7B7B7] font-normal mb-[20px]">We've sent a reset link to <span class="font-normal text-white">jane@example.com</span></p>
                    <p>The link expires in 30 Minutes.</p>
                </header>
                    <div class="form-container">
                            <!-- Open email app -->
                            <button class="w-[100%] bg-[#1F1F1F] pt-[12px] pb-[12px] rounded-[24px] font-inter font-bold text-black mb-[20px] cursor-pointer transition-colors hover:bg-[#333333] active:bg-[#1a1a1a] mt-[20px] border-[1px] border-[#3C3B40]" ><span class="text-white font-normal">Open email app</span></button>

                            <!--Resend email -->
                            <div class="create-account flex justify-start gap-x-2">
                                <p class="text-[#B7B7B7]">
                                    Didn't receive it??
                                </p>
                                <a class="underline" href="/login">
                                    Resend email
                                </a>
                            </div>
                            <p class="mt-[16px] text-[#B7B7B7]">
                                <a href="/login">
                                    <span>←</span>
                                Back to sign in
                                </a>
                            </p>
                    </div>
            </section>
        </main>
    </body>
</html>


