<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
    </head>

    <body class="pt-[98px] pb-[98px] px-[16px] md:p-[64px] min-[1025px]:p-[40px] bg-black">
        <main class="min-[1025px]:flex min-[1025px]:flex-row min-[1025px]:gap-x-[40px] min-[1400px]:gap-x-[80px] min-[1025px]:items-stretch min-[1025px]:min-h-[calc(100vh-80px)] min-[1025px]:max-w-[1320px] min-[1025px]:mx-auto min-[1025px]:w-full">
            <section class="quote-section hidden min-[1025px]:flex min-[1025px]:flex-col min-[1025px]:justify-center bg-linear-to-r from-[#B92B09] to-[#FF5722] relative overflow-hidden min-[1025px]:flex-1 rounded-[16px] min-[1025px]:pt-[40px] min-[1025px]:px-[40px] min-[1025px]:pb-0">
                <blockquote>
                    <p class="font-bricolage font-semibold text-[64px] leading-[100%] tracking-[-2px] text-white">
                        "The goal isn't to<br>be rich. It's to<br>have enough."
                    </p>
                </blockquote>
                <cite class="absolute bottom-[20px] left-[40px] not-italic font-semibold text-[20px] leading-[120%] tracking-[-0.3px] text-white" style="font-family: Inter, sans-serif;">— Morgan Housel</cite>
                <img class="absolute bottom-[-190px] right-[-80px] w-[464px] h-[464px] z-10" src="assets/images/pattern-star.svg" alt="">
            </section>
            <section class="sign-up-container min-[1025px]:w-[640px] min-[1025px]:shrink-0 min-[1025px]:flex min-[1025px]:flex-col min-[1025px]:justify-center">
                <header>
                    <div class="logo-container flex w-fit items-center gap-x-3">
                        <div class="img-container">
                            <img src="assets/images/logo-small.svg" alt="Savings Tracker logo">
                        </div>

                        <h1 class="savings-tracker-heading font-bricolage font-semibold text-2xl">
                            Savings Tracker
                        </h1>
                    </div>  
                    <h2 class="font-inter font-bold text-[32px] mt-[32px]">Welcome back</h2>
                    <p class="text-[#B7B7B7] font-semibold mb-[20px]">Sign in to your account</p>
                </header>
                    <div class="form-container">
                        <form action="/login" method="POST">
                            <!-- Email -->
                            <div class="email-container">
                                <label class="mb-[8px]" for="email">Email</label>
                                <input class="block bg-[#313131] h-[54px] w-[100%] border border-[#676767] rounded-lg mb-[20px] mt-[8px] pl-[8px]" type="email" id="email" name="email" required>
                            </div>
                            <!-- Password -->
                            <div class="password-container">
                                <label class="" for="password">Password</label>
                                <input class="block bg-[#313131] w-[100%] h-[54px] border border-[#676767] rounded-lg mb-[20px] mt-[8px] pl-[8px]" type="password" id="password" name="password" required>
                            </div>
                            <a href="/forgot-password" class="text-[#B7B7B7] font-semibold text-right">Forgot password?</a>

                            <!-- Submit login -->
                            <button class="w-[100%] bg-[#FF5722] pt-[12px] pb-[12px] rounded-[24px] font-inter font-bold text-black mb-[20px] cursor-pointer transition-colors hover:bg-[#e04e1f] active:bg-[#c44419] mt-[40px]" type="submit">Sign in</button>

                            <!-- OAuth buttons -->
                            <a href="/auth/google" class="flex items-center justify-center gap-x-3 w-full bg-[#313131] border border-[#676767] rounded-[24px] py-[12px] font-inter font-bold text-white no-underline mb-[20px] transition-colors hover:bg-[#3d3d3d] active:bg-[#252525]">
                                <span class="iconify text-xl" data-icon="logos:google-icon"></span>
                                Sign in with Google
                            </a>

                            <a href="/auth/microsoft" class="flex items-center justify-center gap-x-3 w-full bg-[#313131] border border-[#676767] rounded-[24px] py-[12px] font-inter font-bold text-white no-underline transition-colors hover:bg-[#3d3d3d] active:bg-[#252525]">
                                <span class="iconify text-xl" data-icon="logos:microsoft-icon"></span>
                                Sign in with Microsoft
                            </a>


                            <!-- Create account -->
                            <div class="create-account mt-[20px] flex justify-center gap-x-2">
                                <p class="text-[#B7B7B7] font-semibold">Don't have an account?</p>
                                <a class="underline" href="/signup">
                                    Create one
                                </a>
                            </div>
                        </form>
                    </div>
            </section>
        </main>
    </body>
</html>


