@import "tailwindcss";

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

body {
    color: white; 
}
